
version: '3.8'

services:
  # Наш сервис с PostgreSQL
  postgres-db:
    image: postgres:15-alpine
    container_name: fit-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./pgdata:/var/lib/postgresql/data